  
{
  "plugins": [],
  "env": {
      "node": true,
      "es2020": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
},
  "extends": [
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
  "import/prefer-default-export": "off",
  "no-underscore-dangle": 0
  }
}